* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.5);
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#center-container, #mask {
    width: 100%;
    height: 100%;
    text-align: center;
}

#center-container::after, #mask::after {
    content: "";
    height: 100%;
    margin: -0.5px;
}

#center-container::after,
.center-block,
#mask::after,
#timer {
    display: inline-block;
    vertical-align: middle;
}

#audio-skin {
    width: 100%;
    height: auto;
}

#play-btn {
    display: none;
    border: none;
    width: 130px;
    height: 130px;
    background-size: 100% 100%;
}

.play {
    background: url(./i/play.png);    
}

.pause {
    background: url(./i/pause.png);    
}

#volume-ctrl {
    display: flex;
    float: right;
    margin: 10px auto;
    width: 40%;
    height: 22px;
}

#volume-icon {
    height: 100%;
    width: auto;
}

#volume-icon:hover, input[type="range"]:hover {
    cursor: pointer;
}

#start-btn {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-size: 25px;
}

#mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
}

#timer {
    width: 450px;
    height: 350px;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

#timer>p {
    font-size: 21px;
}

.work {
    color: rgb(0, 225, 255);
}

.break {
    color: rgb(125, 255, 125);
}

#time-counter {
    margin-top: 20px;
    font-size: 130px;
}

#stop-btn {
    display: block;
    margin: 20px auto;
    width: 140px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* range style from http://danielstern.ca/range.css/#/ */
/* the IE thumb was modified to look square */
input[type="range"] {
    -webkit-appearance: none;
    margin-left: 5%;
    width: calc(90% - 22px);
    background: transparent;
}

input[type="range"] {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #310000, 0px 0px 0px #4b0000;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.05px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #310000, 0px 0px 0px #4b0000;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #f2f2f2;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #310000, 0px 0px 0px #4b0000;
}

input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #310000, 0px 0px 0px #4b0000;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    height: 17.9px;
    /* was 2.9px */
}

input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}